@CHARSET "ISO-8859-1";

/* Add banner */ 
#banner { width: 100%; height: 70px; position: relative; z-index: 50; padding-left:4; padding-right:4; padding-top:4; padding-bottom:4;}
#banner .jcarousel-clip,
#banner ul.items,
#banner ul.items li { width: 950px; height: 70px; overflow: hidden; position: relative ;padding-left: 0px;text-align:justify}
#banner ul.items li { float: center; display: inline; color: #4686C5; }
#banner .entry {width: 940px; float: left; display: inline; }
#banner .entry h2 {font-size: 12pt;font-weight:bold;color: #4686C5;}
#banner .entry h2 span { color: #F7B720; }
#banner .entry h3 { font-size: 12pt;font-weight:normal}
#banner .entry h3 span { color: #F7B720; }
#banner .entry p { letter-spacing: 1px;font-size: 11pt; line-height: 18px; padding-left: 1px;;font-weight:normal; padding-top:5px;}
#banner .entry .slide-btn { background: url('images/slide-button.png') no-repeat 0 0; width: 227px; height: 57px; display: block; font-size: 0; line-height: 0; text-indent: -4000px }
#banner .entry :hover.slide-btn { background-position: 0 -58px; }
#banner img { display: inline; padding-left: 5px;padding-right: 5px;  }

#banner .nav { position: absolute; bottom: 18px; right: 15px; height: 18px; padding-left: 12px; }
#banner .nav li { float: left; display: inline; padding-right: 1px; }
#banner .nav a { background: url('../Images/Website/slider-nav.png') no-repeat 0 0; height: 18px; width: 18px; display: block; font-size: 0px; line-height: 0px; text-indent: -4000px}
#banner .nav a:hover,
#banner .nav li.active a { background-position: 0 -18px; }
